body.onett {
    height: 100vh;
    background: url(./img/Onett.png) no-repeat center bottom/cover;
}

.nav {
  transform: translateY(-100%);
  transition: transform 1.2s;
}

.nav.loaded {
  transform: translateY(0);
}
